# Download reference data

country names, population, Johns Hopkins

In [1]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine
import pycountry
import os
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose
from tqdm import tqdm
import datetime

In [2]:
if "SQL_CONNECT" not in list(os.environ.keys()):
    sql_url = "sqlite:///database.sqlite"
else:
    sql_url = os.environ["SQL_CONNECT"]
sql_url

'sqlite:///database.sqlite'

In [20]:
#sql_url = "postgresql://cookiecutter:cookiecutter@urpshackmac:5432/cookiecutter"
#sql_url = "postgresql://cookiecutter:cookiecutter@urpshackmac:5432/cookiecutter"
#sql_url = "db2+ibm_db://db2inst1:kp2031966@urpshackmac:50000/cookiec"
sql_url = "postgresql://cookiecutter:cookiecutter@urpshackmac:15432/cookiec"
engine = create_engine(sql_url)
conn = engine.connect()

In [21]:
#df = pd.read_sql("SELECT * FROM johns_hopkins_country_mappin",con=conn)
#df
engine.dialect.has_table(engine,"johns_hopkins_country_mapping")

False

In [22]:
dfMapping = pd.read_csv("https://github.com/rolls-royce/EMER2GENT/raw/master/data/sun/geo/country_name_mapping.csv",low_memory=False)
dfMapping.columns = [c.lower() for c in dfMapping.columns]
dfMapping

                                name adm0_a3  iso_3_code_i
0                              Aruba     ABW           533
1                        Afghanistan     AFG             4
2    Islamic Republic of Afghanistan     AFG             4
3                             Angola     AGO            24
4                 Republic of Angola     AGO            24
..                               ...     ...           ...
485                          Taiwan*     TWN           158
486               West Bank and Gaza     PSE           275
487                 Diamond Princess     ***           -99
488                               US     USA           840
489                              NaN     ***           -99

[490 rows x 3 columns]

In [23]:
dfPopulationRaw = pd.read_excel("https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_Population/WPP2019_POP_F01_1_TOTAL_POPULATION_BOTH_SEXES.xlsx",
                            sheet_name="ESTIMATES",skiprows=16,usecols="E,BZ")
dfPopulationRaw

     Country code         2020
0             900   7.7948e+06
1            1803          ...
2             901   1.2733e+06
3             902  6.52149e+06
4             941  1.05744e+06
..            ...          ...
284            60       62.273
285           124      37742.2
286           304       56.772
287           666        5.795
288           840       331003

[289 rows x 2 columns]

In [24]:
alldata = []
for i,row in dfPopulationRaw.iterrows():
    try:
        result = pycountry.countries.get(numeric="{:03d}".format(row["Country code"]))
    except:
        print(row["Country code"],end="..")
        continue
    if result:
        alldata.append({"adm0_a3":result.alpha_3,"population":row["2020"]*1000,"name":result.name})
    else:
        try:
            result = pycountry.countries.search_fuzzy(row["Region, subregion, country or area *"])
            print(row["Country code"],result,end="..")
            alldata.append({"adm0_a3":result.alpha_3,"population":round(row["2020"]*1000),"name":result.name})
        except:
            continue
dfPopulation = pd.DataFrame(alldata)
dfPopulation

    adm0_a3   population                       name
0       BDI   11890781.0                    Burundi
1       COM     869595.0                    Comoros
2       DJI     988002.0                   Djibouti
3       ERI    3546427.0                    Eritrea
4       ETH  114963583.0                   Ethiopia
..      ...          ...                        ...
229     BMU      62273.0                    Bermuda
230     CAN   37742157.0                     Canada
231     GRL      56772.0                  Greenland
232     SPM       5795.0  Saint Pierre and Miquelon
233     USA  331002647.0              United States

[234 rows x 3 columns]

In [25]:
dfMapping.to_sql("johns_hopkins_country_mapping", conn, if_exists='replace',dtype={'adm0_a3':sqlalchemy.types.String(3),
                                                                                  'name':sqlalchemy.types.String(150),
                                                                                  'iso_3_code_i':sqlalchemy.types.Integer},index=False)

In [26]:
dfPopulation.to_sql("un_population_data_2020_estimates", conn, if_exists='replace',dtype={'adm0_a3':sqlalchemy.types.String(3),
                                                                                  'name':sqlalchemy.types.String(150),
                                                                                  'iso_3_code_i':sqlalchemy.types.Integer},index=False)

In [27]:
conn.close()

In [28]:
conn = engine.connect()
dfMapping = pd.read_sql("SELECT * FROM johns_hopkins_country_mapping", conn)
mapping = dict(zip(dfMapping.columns,[x.lower() for x in dfMapping.columns]))
dfMapping = dfMapping.rename(columns=mapping)

dfPopulation = pd.read_sql("SELECT * FROM un_population_data_2020_estimates", conn)
mapping = dict(zip(dfPopulation.columns,[x.lower() for x in dfPopulation.columns]))
dfPopulation = dfPopulation.rename(columns=mapping)

In [29]:
if engine.dialect.has_table(engine,"johns_hopkins_data"):
    result = conn.execute("DROP TABLE johns_hopkins_data;")

In [30]:
def compute_waves(dfCountry):
    # computing waves and "periods of calmness" using a very manual Schmitt-Trigger style detection of gradients up and down
    all_verdicts = []
    field = "trend"
    THRESHOLD = 1
    THRESHOLD_UP = 14
    THRESHOLD_DOWN = 28
    dfCountry.index = dfCountry["datetime_date"]
    ADM0_A3 = dfCountry.adm0_a3.unique()[0]
    country = dfCountry.name.unique()[0]

    ddf = dfCountry[[field]].rolling(center=True,window=7).mean().dropna()
    ddf["pct_change"] = ddf.pct_change()

    datum = ddf[field].values[0]
    increasing = 0
    decreasing = 0
    wave_no = 0
    for i,row in ddf[1:].iterrows():
        if row[field] > datum:
            if increasing == 0:
                start_date = i
            increasing += 1
            if increasing > 3:
                decreasing = 0
        elif row[field] < datum:
            decreasing += 1
            if decreasing > 3:
                increasing = 0

        if increasing == THRESHOLD_UP:
            wave_no += 1
            if len(all_verdicts)>0 and all_verdicts[-1]["kind"] == "begin":
                pass
            else:
                all_verdicts.append({"name":country,"datetime_date":i,"kind":"begin","wave_no":wave_no,"adm0_a3":ADM0_A3})
        if decreasing == THRESHOLD_DOWN:
            if len(all_verdicts)>0 and all_verdicts[-1]["kind"] == "end":
                all_verdicts.pop()
                all_verdicts.append({"name":country,"datetime_date":i,"kind":"end","wave_no":wave_no,"adm0_a3":ADM0_A3})
            else:
                all_verdicts.append({"name":country,"datetime_date":i,"kind":"end","wave_no":wave_no,"adm0_a3":ADM0_A3})
        datum = row[field]

    if len(all_verdicts) > 0:
        dfWaves = pd.DataFrame(all_verdicts)
        dfWaves = dfWaves.sort_values(["name","datetime_date"])
        return dfWaves
    else:
        return pd.DataFrame({"name":[],"datetime_date":[],"kind":[],"wave_no":[]})

In [31]:
dfConfirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv",low_memory=False)
dfDeaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv",low_memory=False)
dfRecovered = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv",low_memory=False)

conn = engine.connect()

for country in tqdm(dfConfirmed["Country/Region"].unique()):
    #try:
    ADM0_A3 = dfMapping[dfMapping.name == country].adm0_a3.values[0]
    #except:
    #    continue # cannot use data we have no ISO3 country code for
    if ADM0_A3 == "***": # invalid as per https://github.com/rolls-royce/EMER2GENT/blob/master/data/sun/geo/country_name_mapping.csv 
        continue
    dfCountry = dfConfirmed[(dfConfirmed["Country/Region"] == country)&(dfConfirmed["Province/State"].isnull())].transpose()
    columns = list(dfCountry.columns)
    dfCountry["date"] = pd.to_datetime(dfCountry.index,errors="coerce")
    dfCountry = dfCountry.dropna()
    dfCountry["confirmed"] = dfCountry[columns].sum(axis=1).astype(int)
    for c in columns:
        del dfCountry[c]

    # Step 2, recovered, also needs to be transposed
    ddf = dfDeaths[dfDeaths["Country/Region"] == country].transpose()
    columns = list(ddf.columns)
    ddf["date"] = pd.to_datetime(ddf.index,errors="coerce")
    ddf = ddf.dropna()
    ddf["deaths"] = ddf[columns].sum(axis=1).astype(int)

    for c in columns:
        del ddf[c]

    dfCountry = dfCountry.join(ddf,rsuffix = "_tmp")
    del dfCountry["date_tmp"]

    # Step 3, recovered, also needs to be transposed
    ddf = dfRecovered[dfRecovered["Country/Region"] == country].transpose()
    columns = list(ddf.columns)
    ddf["date"] = pd.to_datetime(ddf.index,errors="coerce")
    ddf = ddf.dropna()
    ddf["recovered"] = ddf[columns].sum(axis=1).astype(int)

    for c in columns:
        del ddf[c]

    dfCountry = dfCountry.join(ddf,rsuffix = "_tmp")
    del dfCountry["date_tmp"]

    # Cleanup to improve numerical stability, although the semantics of NaN and 0 are, of course, different.
    # Else, scaling of axes will not work as min/max gets confused with NaN. 
    dfCountry.replace([np.inf, -np.inf], np.nan).fillna(0.,inplace=True)

    # Some basic computations
    dfCountry["active"] = dfCountry.confirmed-dfCountry.deaths-dfCountry.recovered
    dfCountry["active"] = dfCountry["active"].clip(lower=0).replace([np.inf, -np.inf], np.nan)
    dfCountry["new_cases"] = dfCountry.confirmed.diff().replace([np.inf, -np.inf], np.nan)
    dfCountry["infection_rate_7"] = dfCountry[["active"]].pct_change(periods=7).replace([np.inf, -np.inf], np.nan)
    dfCountry["trend"] = seasonal_decompose(dfCountry[["new_cases"]].fillna(0).values,freq=7).trend
    dfCountry["trend"] = dfCountry["trend"].replace([np.inf, -np.inf], np.nan)

    # ADM0_A3 is a synonym for ISO 4166 Alpha 3
    dfCountry["adm0_a3"] = ADM0_A3
    dfCountry["adm0_a3"] = dfCountry["adm0_a3"].astype('str')
    population = dfPopulation[dfPopulation.adm0_a3==ADM0_A3].population.values[0]
    #print("{} POPULATION {}".format(ADM0_A3,population))
    dfCountry["active_rel"] = dfCountry["active"]/population*100000
    dfCountry["new_cases_rel"] = dfCountry["new_cases"]/population*100000

    dfCountry = dfCountry.reset_index().rename(columns={"index":"entry_id_for_country"})
    dfCountry["name"] = country
    dfCountry = dfCountry.rename(columns={"date":"datetime_date"})
    
    try:
        dfCountry.to_sql("johns_hopkins_data", conn,if_exists='append',dtype={'datetime_date': sqlalchemy.types.Date,
                                                                              'adm0_a3':sqlalchemy.types.String(3),
                                                                              'name':sqlalchemy.types.String(150),
                                                                              'entry_id_for_country':sqlalchemy.types.String(20)},index=False)
    except:
        print("{} error inserting data".format(country))
    else:
        #print(country,end="..")
        pass
        
    dfWaves = compute_waves(dfCountry)
    dfWaves.to_sql("cookiecutter_computed_waves_chgpoint", conn, if_exists='append', dtype={'datetime_date':sqlalchemy.types.Date,
                                                                                  'adm0_a3':sqlalchemy.types.String(3),
                                                                                  'kind':sqlalchemy.types.String(10),
                                                                                   'name':sqlalchemy.types.String(150)},index=False)

  0%|          | 0/191 [00:00<?, ?it/s]<ipython-input-31-3508eb87a6e6>:57: FutureWarning: the 'freq'' keyword is deprecated, use 'period' instead
  dfCountry["trend"] = seasonal_decompose(dfCountry[["new_cases"]].fillna(0).values,freq=7).trend
100%|██████████| 191/191 [00:22<00:00,  8.33it/s]

In [26]:
dfCountry

,entry_id_for_country,datetime_date,confirmed,deaths,recovered,active,new_cases,infection_rate_7,trend,adm0_a3,active_rel,new_cases_rel,name
datetime_date,,,,,,,,,,,,,
2020-01-22,1/22/20,2020-01-22,0,0,0,0,NaN,NaN,NaN,ZWE,0.000000,NaN,Zimbabwe
2020-01-23,1/23/20,2020-01-23,0,0,0,0,0.0,NaN,NaN,ZWE,0.000000,0.000000,Zimbabwe
2020-01-24,1/24/20,2020-01-24,0,0,0,0,0.0,NaN,NaN,ZWE,0.000000,0.000000,Zimbabwe
2020-01-25,1/25/20,2020-01-25,0,0,0,0,0.0,NaN,0.000000,ZWE,0.000000,0.000000,Zimbabwe
2020-01-26,1/26/20,2020-01-26,0,0,0,0,0.0,NaN,0.000000,ZWE,0.000000,0.000000,Zimbabwe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-29,10/29/20,2020-10-29,8349,242,7864,243,29.0,-0.079545,14.000000,ZWE,1.634940,0.195116,Zimbabwe
2020-10-30,10/30/20,2020-10-30,8362,242,7884,236,13.0,-0.056000,12.285714,ZWE,1.587843,0.087466,Zimbabwe
2020-10-31,10/31/20,2020-10-31,8367,243,7894,230,5.0,-0.072581,NaN,ZWE,1.547474,0.033641,Zimbabwe
2020-11-01,11/1/20,2020-11-01,8374,243,7927,204,7.0,-0.157025,NaN,ZWE,1.372543,0.047097,Zimbabwe
2020-11-02,11/2/20,2020-11-02,8389,245,7939,205,15.0,-0.223485,NaN,ZWE,1.379271,0.100922,Zimbabwe

In [16]:
conn.close()

In [17]:
import datetime
conn = engine.connect()
result = conn.execute("SELECT MAX(datetime_date) FROM johns_hopkins_data")

print(pd.to_datetime(datetime.datetime.now())-pd.to_datetime(result.fetchone()[0]))
conn.close()

1 days 21:30:23.987214

In [32]:
dfOxCGRT = pd.read_csv("https://github.com/OxCGRT/covid-policy-tracker/raw/master/data/OxCGRT_latest.csv",low_memory=False)
dfOxCGRT["datetime_date"] = pd.to_datetime(dfOxCGRT.Date,format="%Y%m%d")
dfOxCGRT.columns = [c.lower() for c in dfOxCGRT.columns]
dfOxCGRT

,countryname,countrycode,regionname,regioncode,date,c1_school closing,c1_flag,c2_workplace closing,c2_flag,c3_cancel public events,...,stringencyindexfordisplay,stringencylegacyindex,stringencylegacyindexfordisplay,governmentresponseindex,governmentresponseindexfordisplay,containmenthealthindex,containmenthealthindexfordisplay,economicsupportindex,economicsupportindexfordisplay,datetime_date
0,Aruba,ABW,NaN,NaN,20200101,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-01
1,Aruba,ABW,NaN,NaN,20200102,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-02
2,Aruba,ABW,NaN,NaN,20200103,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-03
3,Aruba,ABW,NaN,NaN,20200104,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-04
4,Aruba,ABW,NaN,NaN,20200105,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,2020-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76783,Zimbabwe,ZWE,NaN,NaN,20201107,NaN,NaN,NaN,NaN,NaN,...,71.3,NaN,77.38,NaN,60.71,NaN,66.67,NaN,25.0,2020-11-07
76784,Zimbabwe,ZWE,NaN,NaN,20201108,NaN,NaN,NaN,NaN,NaN,...,71.3,NaN,77.38,NaN,60.71,NaN,66.67,NaN,25.0,2020-11-08
76785,Zimbabwe,ZWE,NaN,NaN,20201109,NaN,NaN,NaN,NaN,NaN,...,71.3,NaN,77.38,NaN,60.71,NaN,66.67,NaN,25.0,2020-11-09
76786,Zimbabwe,ZWE,NaN,NaN,20201110,NaN,NaN,NaN,NaN,NaN,...,71.3,NaN,77.38,NaN,60.71,NaN,66.67,NaN,25.0,2020-11-10
76787,Zimbabwe,ZWE,NaN,NaN,20201111,NaN,NaN,NaN,NaN,NaN,...,71.3,NaN,77.38,NaN,60.71,NaN,66.67,NaN,25.0,2020-11-11

In [33]:
conn = engine.connect()
dfOxCGRT.to_sql("oxford_stringency_index", conn,if_exists='replace',dtype={'datetime_date': sqlalchemy.types.Date,
                                                                              'countrycode':sqlalchemy.types.String(3),
                                                                              'countryname':sqlalchemy.types.String(150),
                                                                              'regioncode':sqlalchemy.types.String(20),
                                                                              'regionname':sqlalchemy.types.String(150),
                                                                              'entry_id_for_country':sqlalchemy.types.String(20)},index=False)
conn.close()

In [34]:
cookiecut = [datetime.date(2020,2,14)+datetime.timedelta(days=i) for i in range(75)]
#dfCountry.iloc[
#pd.DatetimeIndex(cookiecut)
dfCountry["2020-02-01":"2020-03-01"]

,entry_id_for_country,datetime_date,confirmed,deaths,recovered,active,new_cases,infection_rate_7,trend,adm0_a3,active_rel,new_cases_rel,name
datetime_date,,,,,,,,,,,,,
2020-02-01,2/1/20,2020-02-01,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-02,2/2/20,2020-02-02,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-03,2/3/20,2020-02-03,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-04,2/4/20,2020-02-04,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-05,2/5/20,2020-02-05,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-06,2/6/20,2020-02-06,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-07,2/7/20,2020-02-07,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-08,2/8/20,2020-02-08,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-09,2/9/20,2020-02-09,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-10,2/10/20,2020-02-10,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-11,2/11/20,2020-02-11,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-12,2/12/20,2020-02-12,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-13,2/13/20,2020-02-13,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-14,2/14/20,2020-02-14,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-15,2/15/20,2020-02-15,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-16,2/16/20,2020-02-16,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-17,2/17/20,2020-02-17,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-18,2/18/20,2020-02-18,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-19,2/19/20,2020-02-19,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-20,2/20/20,2020-02-20,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-21,2/21/20,2020-02-21,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-22,2/22/20,2020-02-22,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-23,2/23/20,2020-02-23,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-24,2/24/20,2020-02-24,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-25,2/25/20,2020-02-25,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-26,2/26/20,2020-02-26,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-27,2/27/20,2020-02-27,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-28,2/28/20,2020-02-28,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-02-29,2/29/20,2020-02-29,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe
2020-03-01,3/1/20,2020-03-01,0,0,0,0,0.0,NaN,0.0,ZWE,0.0,0.0,Zimbabwe

In [35]:
dfCountry.index[0]

Timestamp('2020-01-22 00:00:00')

In [36]:
engine

Engine(postgresql://cookiecutter:***@urpshackmac:15432/cookiec)

In [37]:
#conn = engine.connect()
#conn.execute("DROP TABLE cookiecutter_verdicts;")

In [38]:
ROOT = "../CookieCutter/data/"
conn = engine.connect()
vote_id = 0
for f in tqdm(os.listdir(ROOT)):
    if f.endswith(".csv"):
        #print()
        df = pd.read_csv(os.path.join(ROOT,f))
        df["datetime_date"] = pd.to_datetime(df["date"])
        del df["date"]
        df["from_dt"] = pd.to_datetime(df["from"])
        del df["from"]
        df["to_dt"] = pd.to_datetime(df["to"])
        del df["to"]
        df["vote_id"] = vote_id
        df["stringencyindex"] = df["stringency_index"]
        stat = os.stat(os.path.join(ROOT,f))
        df["vote_datetime"] = datetime.datetime.fromtimestamp(stat.st_ctime)
        df.columns = [c.lower() for c in df.columns]
        df.to_sql("cookiecutter_verdicts", conn, if_exists='append', dtype={"from_dt":sqlalchemy.types.Date,
                                                                         "to_dt":sqlalchemy.types.Date,
                                                                         "datetime_date":sqlalchemy.types.DateTime,
                                                                         "datetime_date":sqlalchemy.types.DateTime,
                                                                         "kind":sqlalchemy.types.String(10),
                                                                         "user":sqlalchemy.types.String(50),
                                                                         "adm0_a3":sqlalchemy.types.String(10)},index=False)
        vote_id += 1
df

100%|██████████| 234/234 [00:06<00:00, 33.60it/s]

,c1_school closing,c2_workplace closing,c3_cancel public events,c4_restrictions on gatherings,c6_stay at home requirements,c7_restrictions on internal movement,c8_international travel controls,e1_income support,e2_debt/contract relief,e3_fiscal measures,...,kind_counter,duration,user,adm0_a3,datetime_date,from_dt,to_dt,vote_id,stringencyindex,vote_datetime
0,3.0,2.0,2.0,4.0,2.0,2.0,3.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-05-28,2020-05-28,2020-08-01,229,88.10,2020-09-27 12:38:24.393402
1,3.0,2.0,2.0,4.0,2.0,2.0,3.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-05-29,2020-05-28,2020-08-01,229,88.10,2020-09-27 12:38:24.393402
2,3.0,2.0,2.0,4.0,2.0,2.0,3.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-05-30,2020-05-28,2020-08-01,229,88.10,2020-09-27 12:38:24.393402
3,3.0,2.0,2.0,4.0,2.0,2.0,3.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-05-31,2020-05-28,2020-08-01,229,88.10,2020-09-27 12:38:24.393402
4,3.0,2.0,2.0,4.0,2.0,2.0,3.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-06-01,2020-05-28,2020-08-01,229,88.10,2020-09-27 12:38:24.393402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2.0,2.0,1.0,4.0,2.0,2.0,2.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-07-28,2020-05-28,2020-08-01,229,76.19,2020-09-27 12:38:24.393402
62,2.0,2.0,1.0,4.0,2.0,2.0,2.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-07-29,2020-05-28,2020-08-01,229,76.19,2020-09-27 12:38:24.393402
63,2.0,2.0,1.0,4.0,2.0,2.0,2.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-07-30,2020-05-28,2020-08-01,229,76.19,2020-09-27 12:38:24.393402
64,2.0,2.0,1.0,4.0,2.0,2.0,2.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-07-31,2020-05-28,2020-08-01,229,76.19,2020-09-27 12:38:24.393402
65,2.0,2.0,1.0,4.0,2.0,2.0,2.0,0.0,0.0,0.0,...,1,65.0,nobody,LBR,2020-08-01,2020-05-28,2020-08-01,229,76.19,2020-09-27 12:38:24.393402

In [23]:
df.columns

Index(['c1_school closing', 'c2_workplace closing', 'c3_cancel public events',
       'c4_restrictions on gatherings', 'c6_stay at home requirements',
       'c7_restrictions on internal movement',
       'c8_international travel controls', 'e1_income support',
       'e2_debt/contract relief', 'e3_fiscal measures',
       'e4_international support', 'h1_public information campaigns',
       'h2_testing policy', 'h3_contact tracing',
       'h4_emergency investment in healthcare', 'h5_investment in vaccines',
       'confirmed', 'deaths', 'recovered', 'active', 'new_cases', 'trend',
       'stringency_index', 'infection_rate_7', 'new_cases_rel',
       'rel_peak_new_cases', 'kind', 'kind_counter', 'duration', 'user',
       'adm0_a3', 'datetime_date', 'from_dt', 'to_dt', 'vote_id',
       'stringencyindex', 'vote_datetime'],
      dtype='object')

In [29]:
query = 'SELECT COUNT(adm0_a3),adm0_a3 from cookiecutter_computed_waves GROUP BY adm0_a3;'
result = conn.execute(query)
for r in result.fetchall():
    print(r)
    break

(3, 'AFG')

In [30]:
dfComputed_waves = pd.read_sql("SELECT * FROM cookiecutter_computed_waves", conn)
dfComputed_waves_stats = pd.DataFrame(dfComputed_waves[dfComputed_waves.kind=="begin"].groupby("adm0_a3").size()).rename(columns={0:"waves"})
dfComputed_waves_stats = dfComputed_waves_stats.join(pd.DataFrame(dfComputed_waves[dfComputed_waves.kind=="end"].groupby("adm0_a3").size()).rename(columns={0:"episodes"}))
dfComputed_waves_stats = dfComputed_waves_stats.fillna(0)
dfComputed_waves_stats.episodes = dfComputed_waves_stats.episodes.astype("int")
dfComputed_waves_stats

         waves  episodes
adm0_a3
AFG          2         1
AGO          1         0
ALB          1         0
AND          2         1
ARE          2         1
...        ...       ...
VNM          3         2
YEM          1         0
ZAF          2         1
ZMB          1         0
ZWE          1         0

[171 rows x 2 columns]

In [31]:
dfVerdicts = pd.read_sql("SELECT * FROM cookiecutter_verdicts", conn)
print(dfVerdicts.columns)
dfVerdicts_stats = pd.DataFrame(dfVerdicts[["kind","kind_counter","adm0_a3","user","duration"]].drop_duplicates().groupby("adm0_a3").size()).rename(columns={0:"votes"})
dfVotesContent = dfVerdicts_stats.join(dfComputed_waves_stats).fillna(0)
dfVotesContent.waves = dfVotesContent.waves.astype("int")
dfVotesContent.episodes = dfVotesContent.episodes.astype("int")
dfVotesContent["need_vote"] = dfVotesContent.waves+dfVotesContent.episodes > dfVotesContent.votes
dfVotesContent

Index(['c1_school closing', 'c2_workplace closing', 'c3_cancel public events',
       'c4_restrictions on gatherings', 'c6_stay at home requirements',
       'c7_restrictions on internal movement',
       'c8_international travel controls', 'e1_income support',
       'e2_debt/contract relief', 'e3_fiscal measures',
       'e4_international support', 'h1_public information campaigns',
       'h2_testing policy', 'h3_contact tracing',
       'h4_emergency investment in healthcare', 'h5_investment in vaccines',
       'confirmed', 'deaths', 'recovered', 'active', 'new_cases', 'trend',
       'stringency_index', 'infection_rate_7', 'new_cases_rel',
       'rel_peak_new_cases', 'kind', 'kind_counter', 'duration', 'user',
       'adm0_a3', 'datetime_date', 'from_dt', 'to_dt', 'vote_id',
       'stringencyindex', 'vote_datetime'],
      dtype='object')

         votes  waves  episodes  need_vote
adm0_a3
AFG          4      2         1      False
AND          4      2         1      False
ARE          1      2         1       True
AUS          6      0         0      False
AUT          4      2         1      False
...        ...    ...       ...        ...
TWN          4      1         0      False
UGA          2      1         0      False
UZB          2      2         2       True
VNM          2      3         2       True
ZAF          1      2         1       True

[78 rows x 4 columns]

In [32]:
dfMapping = pd.read_sql("SELECT DISTINCT name, adm0_a3 from johns_hopkins_data",conn,index_col="adm0_a3")
#dfMapping.index = dfMapping.adm0_a3
dfVotesContent = dfVotesContent.join(dfMapping)
dfVotesContent

         votes  waves  episodes  need_vote                  name
adm0_a3
AFG          4      2         1      False           Afghanistan
AND          4      2         1      False               Andorra
ARE          1      2         1       True  United Arab Emirates
AUS          6      0         0      False             Australia
AUT          4      2         1      False               Austria
...        ...    ...       ...        ...                   ...
TWN          4      1         0      False               Taiwan*
UGA          2      1         0      False                Uganda
UZB          2      2         2       True            Uzbekistan
VNM          2      3         2       True               Vietnam
ZAF          1      2         1       True          South Africa

[79 rows x 5 columns]

In [33]:
ddf = pd.read_sql("select DISTINCT from_dt,to_dt,user,kind,vote_id,rel_peak_new_cases,duration from cookiecutter_verdicts",conn)#[["from_dt","to_dt","user","kind","vote_id","rel_peak_new_cases","duration"]].drop_duplicates()
ddf

,from_dt,to_dt,3,kind,vote_id,rel_peak_new_cases,duration
0,2020-01-25,2020-03-02,DB2INST1,Wave,165,1.051605,37.0
1,2020-01-22,2020-03-03,DB2INST1,Wave,170,1.051605,41.0
2,2020-03-10,2020-04-04,DB2INST1,Wave,201,5.943088,25.0
3,2020-02-18,2020-04-08,DB2INST1,Wave,7,1.659867,50.0
4,2020-03-08,2020-04-12,DB2INST1,Wave,14,0.019519,35.0
...,...,...,...,...,...,...,...
225,2020-07-16,2020-09-18,DB2INST1,Wave,160,10.262080,64.0
226,2020-07-16,2020-09-19,DB2INST1,Wave,102,10.262080,65.0
227,2020-05-31,2020-09-20,DB2INST1,Wave,95,23.694501,112.0
228,2020-04-30,2020-09-23,DB2INST1,Calm,217,0.029391,146.0
229,2020-08-11,2020-09-24,DB2INST1,Wave,130,0.860166,44.0

In [34]:
ddf = pd.read_sql("select DISTINCT from_dt,to_dt,user,kind,vote_id,rel_peak_new_cases,duration from cookiecutter_verdicts WHERE adm0_a3='DEU'",conn)
ddf

,from_dt,to_dt,3,kind,vote_id,rel_peak_new_cases,duration
0,2020-03-08,2020-04-28,DB2INST1,Wave,136,8.274855,51.0
1,2020-03-13,2020-04-29,DB2INST1,Wave,227,8.274855,47.0
2,2020-05-10,2020-07-22,DB2INST1,Calm,159,1.464481,73.0
3,2020-05-03,2020-07-31,DB2INST1,Calm,163,1.513416,89.0

In [35]:
ddf = pd.read_sql("SELECT * from cookiecutter_computed_waves",conn)
ddf

                   name datetime_date   kind  wave_no adm0_a3
0           Afghanistan    2020-03-15  begin        1     AFG
1           Afghanistan    2020-07-03    end        1     AFG
2           Afghanistan    2020-10-16  begin        2     AFG
3               Albania    2020-03-17  begin        1     ALB
4               Algeria    2020-03-03  begin        1     DZA
..                  ...           ...    ...      ...     ...
352             Vietnam    2020-10-23  begin        7     VNM
353  West Bank and Gaza    2020-03-30  begin        1     PSE
354               Yemen    2020-05-06  begin        1     YEM
355              Zambia    2020-03-25  begin        1     ZMB
356            Zimbabwe    2020-03-27  begin        1     ZWE

[357 rows x 5 columns]

In [36]:
fields_of_interest = ['c1_school closing','c2_workplace closing','c3_cancel public events','c4_restrictions on gatherings',
                              'c6_stay at home requirements','c7_restrictions on internal movement',
                              'c8_international travel controls', 'e1_income support', 'e2_debt/contract relief', 'e3_fiscal measures',
                              'e4_international support', 'h1_public information campaigns','h2_testing policy', 'h3_contact tracing',
                              'h4_emergency investment in healthcare', 'h5_investment in vaccines','datetime_date']
",".join(fields_of_interest)

'c1_school closing,c2_workplace closing,c3_cancel public events,c4_restrictions on gatherings,c6_stay at home requirements,c7_restrictions on internal movement,c8_international travel controls,e1_income support,e2_debt/contract relief,e3_fiscal measures,e4_international support,h1_public information campaigns,h2_testing policy,h3_contact tracing,h4_emergency investment in healthcare,h5_investment in vaccines,datetime_date'

In [37]:
ddfOxCGRT = pd.read_sql("SELECT * FROM OXFORD_STRINGENCY_INDEX WHERE COUNTRYCODE='DEU'",conn)
ddfOxCGRT.index = pd.to_datetime(ddfOxCGRT.datetime_date)
ddfOxCGRT

,countryname,countrycode,regionname,regioncode,date,c1_school closing,c1_flag,c2_workplace closing,c2_flag,c3_cancel public events,...,stringencyindexfordisplay,stringencylegacyindex,stringencylegacyindexfordisplay,governmentresponseindex,governmentresponseindexfordisplay,containmenthealthindex,containmenthealthindexfordisplay,economicsupportindex,economicsupportindexfordisplay,datetime_date
datetime_date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,Germany,DEU,None,None,20200101,0.0,NaN,0.0,NaN,0.0,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,2020-01-01
2020-01-02,Germany,DEU,None,None,20200102,0.0,NaN,0.0,NaN,0.0,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,2020-01-02
2020-01-03,Germany,DEU,None,None,20200103,0.0,NaN,0.0,NaN,0.0,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,2020-01-03
2020-01-04,Germany,DEU,None,None,20200104,0.0,NaN,0.0,NaN,0.0,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,2020-01-04
2020-01-05,Germany,DEU,None,None,20200105,0.0,NaN,0.0,NaN,0.0,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,2020-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-30,Germany,DEU,None,None,20201030,NaN,NaN,NaN,NaN,NaN,...,46.76,NaN,50.0,NaN,53.27,NaN,55.9,NaN,37.5,2020-10-30
2020-10-31,Germany,DEU,None,None,20201031,NaN,NaN,NaN,NaN,NaN,...,46.76,NaN,50.0,NaN,53.27,NaN,55.9,NaN,37.5,2020-10-31
2020-11-01,Germany,DEU,None,None,20201101,NaN,NaN,NaN,NaN,NaN,...,46.76,NaN,50.0,NaN,53.27,NaN,55.9,NaN,37.5,2020-11-01
2020-11-02,Germany,DEU,None,None,20201102,NaN,NaN,NaN,NaN,NaN,...,46.76,NaN,50.0,NaN,53.27,NaN,55.9,NaN,37.5,2020-11-02
2020-11-03,Germany,DEU,None,None,20201103,NaN,NaN,NaN,NaN,NaN,...,46.76,NaN,50.0,NaN,53.27,NaN,55.9,NaN,37.5,2020-11-03

In [38]:
dfMeasures = pd.DataFrame(ddfOxCGRT[fields_of_interest].stack(), columns=["level"]).reset_index()#.rename(columns={"Date":"date","level_1":"class"})
dfMeasures

     datetime_date                        level_1       level
0       2020-01-01              c1_school closing           0
1       2020-01-01           c2_workplace closing           0
2       2020-01-01        c3_cancel public events           0
3       2020-01-01  c4_restrictions on gatherings           0
4       2020-01-01   c6_stay at home requirements           0
...            ...                            ...         ...
5150    2020-10-30                  datetime_date  2020-10-30
5151    2020-10-31                  datetime_date  2020-10-31
5152    2020-11-01                  datetime_date  2020-11-01
5153    2020-11-02                  datetime_date  2020-11-02
5154    2020-11-03                  datetime_date  2020-11-03

[5155 rows x 3 columns]

In [39]:
pd.DataFrame(ddfOxCGRT[fields_of_interest].stack())

                                                      0
datetime_date
2020-01-01    c1_school closing                       0
              c2_workplace closing                    0
              c3_cancel public events                 0
              c4_restrictions on gatherings           0
              c6_stay at home requirements            0
...                                                 ...
2020-10-30    datetime_date                  2020-10-30
2020-10-31    datetime_date                  2020-10-31
2020-11-01    datetime_date                  2020-11-01
2020-11-02    datetime_date                  2020-11-02
2020-11-03    datetime_date                  2020-11-03

[5155 rows x 1 columns]

In [40]:
sql_query = """SELECT johns_hopkins_data.*,oxford_stringency_index.*
    FROM johns_hopkins_data
    INNER JOIN oxford_stringency_index ON johns_hopkins_data.adm0_a3 = oxford_stringency_index.countrycode AND
    johns_hopkins_data.datetime_date = oxford_stringency_index.datetime_date 
    WHERE johns_hopkins_data.name='{}' 
    ORDER BY johns_hopkins_data.datetime_date;""".format("Germany")

dfData = pd.read_sql(sql_query, conn) #, index_col="datetime_date")

In [41]:
dfRubbish = dfData.datetime_date
dfRubbish.columns=["rubbish","datetime_date"]
dfRubbish

        rubbish datetime_date
0    2020-01-22    2020-01-22
1    2020-01-23    2020-01-23
2    2020-01-24    2020-01-24
3    2020-01-25    2020-01-25
4    2020-01-26    2020-01-26
..          ...           ...
281  2020-10-29    2020-10-29
282  2020-10-30    2020-10-30
283  2020-10-31    2020-10-31
284  2020-11-01    2020-11-01
285  2020-11-02    2020-11-02

[286 rows x 2 columns]

In [42]:
dfData.index = dfRubbish.datetime_date

In [43]:
query = """SELECT distinct name,infection_rate_7
FROM johns_hopkins_data AS a
WHERE datetime_date = (
    SELECT MAX(datetime_date)
    FROM johns_hopkins_data AS b
) order by infection_rate_7 DESC NULLS LAST"""

dfA = pd.read_sql(query,conn)
dfA

                      name  infection_rate_7
0                  Comoros          1.500000
1                 Dominica          0.888889
2                 Cambodia          0.800000
3                  Austria          0.771419
4                   Kosovo          0.766045
..                     ...               ...
183                 Canada               NaN
184                  China               NaN
185       Marshall Islands               NaN
186  Saint Kitts and Nevis               NaN
187        Solomon Islands               NaN

[188 rows x 2 columns]