# Travel risk index from Travel advisory webpage

This notebook download the travel risk index published by https://travel-advisory.info for all the countries. A job is  scheduled to download the data on a daily basis in order to get an overview of the history of travel risk indices. 

The files are stored under a separate directory and the filename also contains the download date

Daily download of travel advisory data from https://travel-advisory.info

Special thanks to Travel-Advisory for creating a free API to download the data and allowing us to use the data!

In [1]:
import requests
import pandas as pd
import json
import datetime

In [2]:
r = requests.get("https://www.travel-advisory.info/api")

In [3]:
df = pd.DataFrame(json.loads(r.content.decode())['data'])

In [4]:
df = df.transpose()

In [6]:
df['score']=None
df['sources_active']=None
for idx, r in df.iterrows():
    df.loc[idx,'score']=r['advisory']['score']
    df.loc[idx,'sources_active']=r['advisory']['sources_active']

df['download_date'] = datetime.date.today()

In [7]:
df.head()

,advisory,continent,iso_alpha2,name,score,sources_active,download_date
AD,"{'score': 3.5, 'sources_active': 4, 'message':...",EU,AD,Andorra,3.5,4,2020-08-14
AE,"{'score': 3.6, 'sources_active': 7, 'message':...",AS,AE,United Arab Emirates,3.6,7,2020-08-14
AF,"{'score': 5, 'sources_active': 10, 'message': ...",AS,AF,Afghanistan,5,10,2020-08-14
AG,"{'score': 4, 'sources_active': 3, 'message': '...",NA,AG,Antigua and Barbuda,4,3,2020-08-14
AI,"{'score': 4, 'sources_active': 3, 'message': '...",NA,AI,Anguilla,4,3,2020-08-14

In [8]:
today_date = str(datetime.date.today()).replace("-",'')

filename = "travel_advisory_data_{}.csv".format(today_date)

In [9]:
df.to_csv("/project_data/data_asset/travel_advisory/sun/{}".format(filename),index=False)

**Author**


* Shri Nishanth Rajendran - AI Development Specialist, RÂ² Data Labs, Rolls Royce